################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CRMSystem/FileContentIndex/1f75ed14-6306-4e43-9c01-0eaa9c0623fe.vsidx
